/* Simple CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Global Variables */
:root {
  --primary-color-dark: #522e92;
  --primary-color-light: #673ab7;
  --secondary-color: #6cdd18;
}

/* Top Status bar styles */
.status {
  height: 24px;
  background: var(--primary-color-dark);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.status svg,
.status .time {
  margin: 0 4px;
}

.status .time {
  margin: 0 8px 0 0;
}

/* Header Styles */
header {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--primary-color-light);
  color: #f7f5fb;

  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.3);
}

header svg {
  margin-right: 2rem;
}

header h2 {
  font-weight: normal;
}

.time {
  color: #beb1d6;
}

/* Main Content Styles */
main {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  background: #eeeeee;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  overflow-x: hidden;
  pointer-events: none;
}

/* Each card styles */
.card {
  padding: 1rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 2rem);
  max-width: 500px;
  pointer-events: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

.card .lead {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar {
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  margin-right: 1rem;
  position: relative;
  font-size: 0px;
}

/* Fallback image if url not-found */
.avatar::after {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 50px;
  height: 50px;
  background: white;
  background-image: url(noimage.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  z-index: 1;
  content: "";
}

.author-data {
  height: 40px;
  width: 100%;
  -ms-flex-preferred-size: fit-content;
  flex-basis: fit-content;
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.author-data h4 {
  padding-bottom: 0.1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.author-data .timestamp {
  color: #727272;
  font-size: 0.8rem;
  font-weight: 100;
}

.author-data svg {
  display: none;
}

.card .message {
  line-height: 1.25rem;
  font-weight: 100;
  font-size: 0.9rem;
}

/* Card styles when transitioning */
.card.dismissing {
  background: #f7f7f7;
  opacity: 0.6;
}

/* Card style after dismissed */
.card.dismissed {
  height: 0;
  margin: 0;
  padding: 0;
}

/* Styles for anchor element that triggers Infinite Scrolling */
#loader {
  margin: 0 auto 1rem auto;
  width: 32px;
  opacity: 0;
}

#loader.active {
  opacity: 1;
}

#loader.active .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

#loader.active .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

/* Snackbar Styles */
.snackbar {
  width: 344px;
  height: 48px;
  background: #323232;
  color: #f6f6f6;
  -webkit-box-shadow: 0 0 3px 0px #323232;
  box-shadow: 0 0 3px 0px #323232;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1rem;

  position: fixed;
  bottom: -50px;
  left: 50%;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transition-property: opacity, bottom, -webkit-transform;
  transition-property: opacity, bottom, -webkit-transform;
  -o-transition-property: transform, opacity, bottom;
  transition-property: transform, opacity, bottom;
  transition-property: transform, opacity, bottom, -webkit-transform;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  font-weight: 100;

  /* Using 'will-change' as this animation is going to
     get triggered multiple times */
  will-change: transform;
  will-change: opacity;
  will-change: bottom;
}

.snackbar .action {
  background: #323232;
  width: 5rem;
  height: 100%;
  border: none;
  outline: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
}

.snackbar.show {
  opacity: 1;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Desktop and Tablet Responsiveness */
@media (min-width: 768px) {
  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
  }

  .card {
    min-width: 600px;
  }

  .author-data svg {
    display: block;
    color: #727272;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}
